:root {
  font-family: 'Montserrat', sans-serif;
  --white:  #fff;
  --blue: #00347a;
  --lime: #a3d766;

  --timing: 200ms;
  --scale: 1;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--blue);
  font-family: var(--font-family);
  margin: 0;
  min-width: fit-content;
}

/* NAVBAR */
.brand {
  color: var(--white);
  font-size: 30px;
  padding-top: 15px;
  margin-top: 5px;
  text-decoration: none;

}

.nav-link {
  color: var(--white);
  font-size: 18px;
  padding: 1rem;
  text-decoration: none;
  text-align: center;  
}

.nav-link.active {
  color: var(--lime);
}

.nav-item {
  display: inline-block;
}

.navbar {
  background-color: var(--blue);
  position: sticky;
  top: 0;
  transition: top 0.3s;
  opacity: 100%;
}

.navbar-nav {
  margin: -40px 10px;
  border: 2px solid var(--blue);
  padding: 10px;
  border-radius: 10px;
  opacity: 100%;
  text-align: center;
}