:root {
  --font-family: 'Roboto Slab', serif;
  --white:  #fff;
  --blue: #00347a;
  --lime: #a3d766;

  --timing: 200ms;
  --scale: 1;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--blue);
  font-family: var(--font-family);
  margin: 0;
  min-width: fit-content;
}

/* NAVBAR */
.brand {
  color: var(--white);
  font-size: 30px;
  padding-top: 15px;
  margin-top: 5px;
  text-decoration: none;

}

.cdr-logo {
  height: 69px;
  width: 69px;
  margin: 11px 0px -19px 22px;
}

.nav-link {
  color: var(--white);
  font-size: 18px;
  padding: 1rem;
  text-decoration: none;
  text-align: center;  
}

.nav-link.active {
  color: var(--lime);
}

.nav-item {
  display: inline-block;
}

.navbar {
  background-color: var(--blue);
  position: sticky;
  top: 0;
  transition: top 0.3s;
  opacity: 100%;
}

.navbar-nav {
  margin: -40px 10px;
  border: 2px solid var(--blue);
  padding: 10px;
  border-radius: 10px;
  opacity: 100%;
  text-align: center;
}

/* Hero Style Start */
.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url('./assets/shreddedpaper.jpg');
  background-color: var(--white);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: flex-start;
  }

.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: var(--white);
  font-size: 18px;
  line-height: 1.2;
  }

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: var(--white); 
  text-shadow: 0 0 10px var(--blue);
}

.hero-form {
  border: 3px solid var(--white);
  background-color: var(--blue);
  padding: 20px;
  color: var(--white);
  width: 40%;
  margin: 3.5%;
  box-shadow: 0 0 15px var(--white);
  border-radius: 15px;
  }

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}
.hero-form p {
  margin: 5px 0 15px 0;
}

.form-input {
  border: 1px solid var(--white);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--white);
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: rgb(224, 234, 240);
}

.form-input:focus {
  background-color: var(--white);
  outline: none;
}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  color: var(--white);
  background-color: var(--blue);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
}

.checkbox-wrapper input, .radio-wrapper input {
  opacity: 0;
}

.checkbox-wrapper label, .radio-wrapper label {
  position: relative;
  left: 10px;
  margin: 10px;
  line-height: 1.6;
}

.checkbox-wrapper label::before, .radio-wrapper label::before {
  content: "";
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.75);  
  border: 1px solid var(--lime);
  position: absolute;
  top: -4px;
  left: -30px;
}
.hero-form button:hover {
  background-color: var(--blue);
}

.radio-wrapper label::before {
  border-radius: 50%;
}

.radio-wrapper label::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--secondary-color);
  position: absolute;
  left: -29px;
  top: -3px;
  background-image: radial-gradient(circle, var(--tertiary-color), var(--secondary-color));
}

.checkbox-wrapper label::after {
  content: "";
  height: 6px;
  width: 14px;
  border-left: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  position: absolute;
  left: -26px;
  top: 1px;
  transform: rotate(-58deg);
}

.checkbox-wrapper input + label::after, 
.radio-wrapper input + label::after {
  content: none;
}

.checkbox-wrapper input:checked + label::after, 
.radio-wrapper input:checked + label::after {
  content: "";

}




/* MODAL */

.modal-open {
  overflow: hidden;
}
.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.modal-header {
  padding: 15px;
  background-color: var(--gunmetal);
  border-bottom: 1px solid var(--platinum);

}
.modal-header .close {
  margin-top: -2px;
  color: var(--platinum);
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
  color: var(--platinum);
  background-color: var(--gunmetal);
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
  background-color: var(--platinum);
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

/* FOOTER */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background: var(--blue);
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h4 {
  color: var(--blue);
  font-size: 18px;
  font-weight: lighter;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  transition: all 0.5s ease-out;
}

footer h4:hover {
  color: var(--blue);
}


/* SOCIAL MEDIA ICONS */

.social-container {
  width: 100%;
  margin: 2rem;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.list-item {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
  
}

.social-icons i {
  color: var(--white);
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all var(--timing) ease-out;
  
}

.social-icons a {
  display: inline-block;
  color: var(--white);
  text-decoration: none;
}

.social-icons a:before {
  transform: scale(var(--scale));
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, var(--white), var(--lime));
  transition: all var(--timing) ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all var(--timing) ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  color: var(--platinum);
  background: -webkit-linear-gradient(45deg, var(--white), var(--lime));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all var(--timing) ease-in;
}
